<div id="aboutMeDiv">
	<p id="aboutMePara">
		My name is Raman Bhati. I am a frontend web developer. I have a Master of Science degree in Computer and Information Science from University of Alabama at Birmingham.	
		 I like to get familiar and master new technologies. 
		<br>
		 During my studies, I was also involved in research. My area of interest is Pattern Recognition specifically Face Recognition. I have worked in this field for few years and have published few research papers in some conferences. 
		<br> <br>
		 <strong> Some of my work can be found at </strong> 
		<br>
		 <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=5640486&url=http%3A%2F%2Fieeexplore.ieee.org%2Fiel5%2F5616735%2F5640373%2F05640486.pdf%3Farnumber%3D5640486"> Face Recognotion</a>
		<br>
		 <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=5670745&url=http%3A%2F%2Fieeexplore.ieee.org%2Fiel5%2F5654672%2F5670438%2F05670745.pdf%3Farnumber%3D5670745"> Principal Component Analysis</a>
		<br><br>
		<strong> Recent Projects: </strong> <br>
			Recently, I have worked on a project with AT&T labs for developing AT&T’s WebRTC SDK. This
			software development kit can be used to build web applications for making audio-video phone calls and conference calls using AT&T’s WebRTC API. This SDK is built in core Javascript. So far, I have been responsible for developing new features, fixing bugs, writing unit tests for new code, performance tuning and updating documentation for the product.
			<br> <br>
			Another project I worked on recently was with Motion Industries, Birmingham AL. In this project, the tools used

			are myEclipse IDE, TeamForge, AQT, WebSphere, DB2 databases, and Java. The project uses RESTful API to 

			perform GET, PUT, POST, DELETE operations at the server side. My role in the project is to work on EXTJS. This 

			project is about maintaining the inventory, auto parts, management of orders, processing the bills, generating of 

			reports and some other general modules. It is a huge project and I work on order management module.


	</p>

	<img id="aboutMeImage" src="resources/raman.jpg">
	<br><br>
	 	  In free time, I like to learn about new advancements in the field of human brain functionality. If I get a chance, I want to write a book on the beliefs and practices of different cultures and how it all started.


</div>